<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - Blog</title>
</head>
<body>
<nav>
    <a href="/blog/">Blog</a>
</nav>
<h1>{{ post.title }}</h1>
<h4>{{ post.created_at }}</h4>
<p>{{ post.content }}</p>


{# Blog Post #}

{% if p.head_image %}
    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head im-age">
{% endif %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">


<p> hh </p>
<hr/>

<h3>여기 댓글이 들어올 수 있겠죠?</h3>


</body>
</html>